<div class="fixed w-48 flex flex-col bg-white h-screen drop-shadow items-center justify-center text-md font-semibold text-gray">
  <a href="" routerLink="/deck/all" class="w-full hover:bg-very-light-gray text-center py-4">Wszystkie</a>
  <a href="" routerLink="/deck/forrest_deck" class="w-full hover:bg-very-light-gray text-center py-4">Las</a>
  <a href="" routerLink="/deck/mountain_deck" class="w-full hover:bg-very-light-gray text-center py-4">Góry</a>
  <a href="" routerLink="/deck/city_deck" class="w-full hover:bg-very-light-gray text-center py-4">Miasto</a>
  <a href="" routerLink="/deck/dungeon_deck" class="w-full hover:bg-very-light-gray text-center py-4">Podziemia</a>
  <a href="" routerLink="/deck/bridge_deck" class="w-full hover:bg-very-light-gray text-center py-4">Most</a>
  <a href="" routerLink="/deck/tunnel_deck" class="w-full hover:bg-very-light-gray text-center py-4">Tunel</a>
  <a href="" routerLink="/deck/adventure_deck" class="w-full hover:bg-very-light-gray text-center py-4">Przygody</a>

</div>
