<div class="hidden md:flex fixed w-48 flex-col bg-white h-screen drop-shadow items-center justify-center text-md font-semibold text-gray">
  <a href="" routerLink="/deck/all" class="w-full hover:bg-very-light-gray text-center py-4">Wszystkie</a>
  <a href="" routerLink="/deck/forrest_deck" class="w-full hover:bg-very-light-gray text-center py-4">Las</a>
  <a href="" routerLink="/deck/mountain_deck" class="w-full hover:bg-very-light-gray text-center py-4">Góry</a>
  <a href="" routerLink="/deck/city_deck" class="w-full hover:bg-very-light-gray text-center py-4">Miasto</a>
  <a href="" routerLink="/deck/dungeon_deck" class="w-full hover:bg-very-light-gray text-center py-4">Podziemia</a>
  <a href="" routerLink="/deck/bridge_deck" class="w-full hover:bg-very-light-gray text-center py-4">Most</a>
  <a href="" routerLink="/deck/tunnel_deck" class="w-full hover:bg-very-light-gray text-center py-4">Tunel</a>
  <a href="" routerLink="/deck/adventure_deck" class="w-full hover:bg-very-light-gray text-center py-4">Przygody</a>
  <a href="" routerLink="/deck/nether_deck" class="w-full hover:bg-very-light-gray text-center py-4">Nieszczęścia</a>
  <a href="" routerLink="/deck/harbinger_deck" class="w-full hover:bg-very-light-gray text-center py-4">Prorok</a>
  <a href="" routerLink="/deck/residue_deck" class="w-full hover:bg-very-light-gray text-center py-4">Rupiecie</a>
</div>

<button class="block hamburger focus:outline-none top-6 right-10 z-10" (click)="changeState()" [class.open]="isOpen">
  <span class="hamburger-top"></span>
  <span class="hamburger-middle"></span>
  <span class="hamburger-bottom"></span>
</button>

<div class="absolute w-11/12 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:hidden z-10" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="flex flex-col bg-white px-8">
    <a href="" routerLink="/deck/all" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Wszystkie</a>
    <a href="" routerLink="/deck/forrest_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Las</a>
    <a href="" routerLink="/deck/mountain_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Góry</a>
    <a href="" routerLink="/deck/city_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Miasto</a>
    <a href="" routerLink="/deck/dungeon_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Podziemia</a>
    <a href="" routerLink="/deck/bridge_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Most</a>
    <a href="" routerLink="/deck/tunnel_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Tunel</a>
    <a href="" routerLink="/deck/adventure_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Przygody</a>
    <a href="" routerLink="/deck/nether_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Nieszczęścia</a>
    <a href="" routerLink="/deck/harbinger_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Prorok</a>
    <a href="" routerLink="/deck/residue_deck" class="w-full hover:bg-very-light-gray text-center py-4" (click)="changeState()">Rupiecie</a>
  </div>
</div>
